<?xml version="1.0"?>
<robot name="A3C" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find a3c_description)/xacro/gripper_mounting_vac.xacro" />
	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace></robotNamespace>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
			<legacyModeNS>true</legacyModeNS>
		</plugin>
	</gazebo>
	<transmission name="joint_1_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_1">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="joint_1_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="joint_2_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_2">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
			<actuator name="joint_2_motor">
		<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="joint_3_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_3">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="joint_3_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="joint_4_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_4">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="joint_4_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="joint_5_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_5">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="joint_5_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="joint_6_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_6">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="joint_6_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

  <link name="gripper_link">
    <gravity>0</gravity>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="transparent">
        <color rgba="0 0 0 0"/>
      </material>
    </visual>
    <inertial>
      <origin rpy="0 0 0" xyz="0.000000 0.000000 0.000000"/>
      <mass value="0.0001"/>
      <inertia ixx="1e-08" ixy="0" ixz="0" iyy="1e-08" iyz="0" izz="1e-08"/>
    </inertial>
  </link>
  <joint name="gripper_joint" type="revolute">
    <parent link="link_6" />
    <child link="gripper_link" />
    <origin rpy="0 0 0" xyz="0.02 0 0" />
    <limit effort="30" velocity="1.0" lower="0" upper="0" />
  </joint>
  <gazebo>
    <plugin name="gazebo_ros_vacuum_gripper" filename="libgazebo_ros_vacuum_gripper.so">
      <robotNamespace>/A3C/</robotNamespace>
      <bodyName>gripper_link</bodyName>
      <topicName>grasping</topicName>
      <maxForce>5</maxForce>
      <maxDistance>0.10</maxDistance>
      <minDistance>0.10</minDistance>
    </plugin>
  </gazebo>
</robot>