<?xml version="1.0"?>
<robot name="A3C" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find a3c_description)/xacro/gripper_mounting.xacro" />
	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace></robotNamespace>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
			<legacyModeNS>true</legacyModeNS>
		</plugin>
	</gazebo>
	<transmission name="joint_1_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_1">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		</joint>
		<actuator name="joint_1_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="joint_2_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_2">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		</joint>
			<actuator name="joint_2_motor">
		<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="joint_3_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_3">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		</joint>
		<actuator name="joint_3_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="joint_4_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_4">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		</joint>
		<actuator name="joint_4_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="joint_5_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_5">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		</joint>
		<actuator name="joint_5_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="joint_6_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_6">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		</joint>
		<actuator name="joint_6_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>
</robot>